// Load the basic test config
includeConfig 'nextflow.config'

// Load the correct samplesheet for that test
params {
    input  = params.pipelines_testdata_base_path + 'seqinspector/testdata/Miseq_PairedEnd/samplesheet.csv'
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withLabel: 'process_high' {
        cpus = 4
        memory = '15.GB'
    }
    withLabel: 'process_medium' {
        cpus = 2
        memory = '7.GB'
    }
    withLabel: 'process_low' {
        cpus = 1
        memory = '3.GB'
    }
    withLabel: 'process_single' {
        cpus = 1
        memory = '3.GB'
    }
}
