/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    config_profile_name        = 'nf-test profile'
    config_profile_description = 'Configuration profile to use for nf-test.'

    pipelines_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    modules_testdata_base_path     = 's3://ngi-igenomes/testdata/nf-core/modules/'

}
