// Load the basic test config
includeConfig 'nextflow.config'

// Load the correct samplesheet for that test
params {
    input  = params.pipelines_testdata_base_path + 'seqinspector/testdata/NovaSeq6000/samplesheet.csv'
    fastq_screen_references = "${projectDir}/assets/example_fastq_screen_references.csv"

    // Genome references
    genome = 'R64-1-1'

}
