nextflow.enable.moduleBinaries = true

process {
    withName: 'RUNDIRPARSER' {
        publishDir = [
            path: "$PWD",
            //path: { "${params.outdir}/rundirparser" },
            mode: "copy",
            // The process _mqc.txt outputs should have identical names for the same sequencing platforms
            // in order to be grouped together in the MultiQC report, but here we need to enforce uniqueness
            // to avoid overwriting results in the publishDir.
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${dir_meta.dirname}_$filename" }
        ]

    }
}


timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
