
params {
    input                           = "${projectDir}/assets/cg_test_samplesheet.csv"
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease'
    run_picard_collecthsmetrics     = true
    fasta                           = params.pipelines_testdata_base_path + '/reference/reference.fasta'
    genome                          = 'GRCh37'
    bait_intervals                  = params.pipelines_testdata_base_path + '/reference/target.bed'
    target_intervals                = params.bait_intervals
}

process {

    // Add limits to be able to run on local computer.
    
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: PICARD_COLLECTHSMETRICS {
        ext.args = { [
            "--COVERAGE_CAP 50000",
            "--METRIC_ACCUMULATION_LEVEL ALL_READS",
            "--TMP_DIR ."
			].join(' ') }

    }

}
