process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--4fc8657c816047c0' } }
process { withName: 'MULTIQCSAV' { container = 'oras://community.wave.seqera.io/library/multiqc_multiqc_sav_pip_interop:9ebe780f2738c655' } }
