/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SEQTK_SAMPLE {
        ext.args = '-s100'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'KRAKEN2_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/kraken2_reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRONA_KTIMPORTTAXONOMY' {
        publishDir = [
            path: { "${params.outdir}/kraken2_reports/krona_reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'UNTAR' {
        publishDir = [
            path: { "${params.outdir}/kraken2_db" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_uncompressed_k2db
        ]
    }

    withName: 'MULTIQC_GLOBAL' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc/global_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_PER_TAG' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc/group_reports" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                    switch (filename) {
                        case 'versions.yml':
                            null
                            break
                        case ~/\[TAG:.+\]_multiqc_(report\.html|plots|data)/:
                            def tag = (filename =~ /\[TAG:(.+)\]_multiqc_(report\.html|plots|data)/)[0][1]
                            def new_filename = filename.replaceFirst(
                                "(?<prefix>.*)\\[TAG:${tag}\\]_(?<suffix>multiqc_(report\\.html|plots|data).*)",
                                '${prefix}${suffix}')
                            "${tag}/${new_filename}"
                            break
                        default:
                            filename
                    }
            }
        ]
    }
}
