// Load the basic test config
includeConfig '../../../../tests/nextflow.config'


params {
    pipelines_testdata_base_path = params.pipelines_testdata_base_path + 'raredisease/'
}

process {

    withName: PICARD_COLLECTHSMETRICS {
        ext.args = { [
            "--COVERAGE_CAP 50000",
            "--METRIC_ACCUMULATION_LEVEL ALL_READS",
            "--TMP_DIR ."
			].join(' ') }

    }

}
